NODE_ENV=development
PORT=5050
CLIENT_URL =http://localhost:3000, http://10.132.24.89:3000
# Database
DATABASE_URL="postgresql://postgres:admin@localhost:5432/gvoice_crm"

# JWT
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=7d

# File Upload in MB
MAX_FILE_SIZE=10
UPLOAD_PATH=./uploads

# Email / SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=developer@gohilinfotech.com
SMTP_PASS=fmljjkikzopcrpet
SMTP_FROM=developer@gohilinfotech.com
FROM_NAME=Gvoice CRM

# Redis / Queue
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
EMAIL_QUEUE_CONCURRENCY=5

# Lead notification scheduler
LEAD_TIMER_NOTIFICATION_INTERVAL_MS=1800000

GOOGLE_CLIENT_ID=668778150602-1iq11gdon2q95sv5q0s3vctin2ngn5n7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/login
GOOGLE_PROJECT_ID=gvoice-crm
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_WORKSPACE_DOMAIN=
